<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    
<div class="form">
    <div class="form__box">
      <div class="form__left">
        <div class="form__padding"><img class="form__image" src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"/></div>
      </div>
      <div class="form__right">
        <div class="form__padding-right">
          <form action="/auth/login/" method="post">
            {% csrf_token %}
            <h1 class="form__title">Customer Login</h1>
            <input class="form__email" name="email" type="email" placeholder="Email" />
            <input class="form__password" name="password" type="password" placeholder="******"/>
            <input class="form__submit-btn" type="submit" value="Login"/>
          </form><span>Forgot<a class="form__link" href="#">Username</a><a>/</a><a class="form__link" href="#">Password</a></span>
          <p> <a class="form__link" href="#">Create your account</a></p>
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissiable fade show" role="alert" style="height: 6vh; display: flex;align-items: center;justify-content: space-between;">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close" style="height: 0.2vh;"></button>
          </div>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>